body {
  font-size: medium;
  color: #53bf6b;
  background-image: url("/img/background.png");
}

a:link {
    color: #923c6c;
}

a:visited {
    color: #694859;
}

a:hover {
    color: #694859;
}

.copyright {
	font-size: 12px;
}
