<h1>Update $restaurant.getName()</h1>

<form action="/update/restaurant/$cuisine.getId()" method="post">
  <input id="restaurantId" name="restaurantId" type="hidden" value="$restaurant.getId()">
  <label for="restaurantName">Update Restaurant Name</label>
<input id="restaurantName" name="restaurantName" type="text">
  <button type="submit" id="$restaurant.getId()" class="btn btn-warning">Update</button>
</form>
