<h1>Update $stylist.getStylistName()</h1>

<form action="/update/stylist/$stylist.getId()" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="$stylist.getId()">
  <label for="stylistName">Update Stylist Name</label>
<input id="$stylist.getStylistName" name="stylistName" type="text">
  <button type="submit" id="$sthylist.getId()" class="btn btn-warning">Update</button>
</form>
